.show_container{
    font-family: 'Fredoka One', cursive;


    font-size: 18px;

}
.show_container .btn{
  width: 40%;

}

.show_table {
    background: #6190E8;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #A7BFE8, #6190E8);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, rgb(147, 181, 238), #6190E8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: white;
    width: 100%;
    word-break: break-word;

}

.show_table tr:nth-child(odd){
    background-color: white;
    color: #666;
}
.show_table tr:nth-child(even){
    height: 50px;
    font-size: 16px;
}

.edit_profile_button{
    color: white;
  
}
.btn_account{
    background-color: #DE7A22;
    color: white;
}

.btn_follow{
    background: #6190E8;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #a7bfe8, rgb(144, 177, 238));  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, rgb(147, 181, 238), rgb(151, 182, 241)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color:white;
}